* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

div { 
  background-color: #9AE8FF;
  width: 60%;
}

h2 {
  color: #AA3CE8;
}

div, h2 {
  text-align: center;
}

p { 
  text-indent: 10px;
  font-size: 120%;
}
